.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 330px;
  margin-bottom: 30px;
}
.sendEmail {
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: -5px;
  font-size: 1.9rem;
  text-align: center;
  background-color: rgb(168, 184, 228);
  color: white;
  width: 70%;
  max-width: 460px;
  padding: 2.5% 2%;
}
.guide {
  font-size: 1rem;
  text-align: center;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
}
@media (width <= 500px) {
  .sendEmail {
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: -10px;
    font-size: 1.3rem;
    text-align: center;
    width: 70%;
    padding: 5% 3%;
  }
  .guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }
  .buttonContainer {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
