h1 {
  text-align: center;
  font-size: 40px;
}

.passwordResetContainer {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -80px;
  background-image: url("C:\Users\Student\Downloads\ueno.png");
}

.passwordResetContainer > * {
  margin-bottom: 20px;
}

.passwordResetLink {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  width: 450px;
  color: rgb(50, 85, 150);
}

.passwordResetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 50px;
  padding: 0.4em 0.3em;

  border: none;
  border-radius: 8px;
  background-color: rgb(50, 85, 150);
  color: rgba(255, 255, 255, 0.904);

  font-weight: 750;
  font-size: 1.1em;

  transition: transform 0.3s, box-shadow 0.3s;
}

.passwordResetButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.passwordResetBoutton:active {
  border-color: rgb(50, 85, 150);
  border-width: 3px;
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
