.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
  max-width: 500px;
  min-width: 299px;
  gap: 23px;
  padding: 0 4px 20px;
}
.title {
  margin-bottom: -20px;
  width: 107%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.attention {
  text-align: left;
  color: red;
  font-size: 0.69rem;
}
