.checkbox {
  display: flex;
  flex-direction: column;
}
.checkboxLabel {
  color: rgba(0, 0, 0, 0.773);
  font-size: 0.9rem;
}
.errorMessage {
  color: rgb(220, 50, 50);
  font-size: 0.75rem;
}

.termsModal {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.activeTermsModal {
  cursor: pointer;
  color: blueviolet;
  text-decoration: underline;
}
