.helpContetntscontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.categoryTitle {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-style: solid;
}
.categoryIcon {
  width: 50px;
  height: 50px;
}
