.searchContainer {
  position: relative;
  display: block;
  max-width: 1000px;
  width: 100%;
  height: auto;
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: rgb(50, 85, 150);
}

.searchInput {
  padding: 10px 10px 10px 50px;
  overflow: hidden;
  border: 3px solid rgb(50, 85, 150);
  width: 100%;
  height: auto;
  border-radius: 20px;
  font-size: 1.5rem;
  transition: transform 0.3s;
  box-sizing: border-box;
}

.searchInput:focus {
  outline: none;
  border-color: rgb(0, 90, 255);
}

.searchContainer:focus-within .searchIcon {
  color: rgb(0, 90, 255);
}

@media (max-width: 960px) {
  .searchContainer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
