.timelineLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.timelineContainer {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 40%;
}

.timelineMain {
  overflow-y: auto;
}

.timelineSub {
  border-left: 1px solid rgb(50, 85, 150);
  overflow: auto;
  min-height: 100%;
  background-color: #f1f5f9;
}

.detailTag {
  color: inherit;
  display: block;
  background-color: rgba(255, 255, 255, 0.904);
  border: 1px solid rgb(50, 85, 150);
  margin-top: -1px;
  margin-bottom: -1px;
  text-align: center;
  padding: 15px;
}

.modalButton {
  display: none;
}

@media (max-width: 960px) {
  .timelineContainer {
    display: flex;
    flex-direction: column;
  }
  .timelineMain {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .timelineSub {
    display: none;
  }
  .modalButton {
    position: fixed;
    display: block;
    font-size: 3rem;
    z-index: 100;
    background: none;
    border: none;
    right: 3%;
    color: rgb(50, 85, 150);
  }
  .modalButton:hover {
    color: #007bff;
  }
}
