.timelineLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.timelineContainer {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 40%;
}

.timelineMain {
  overflow-y: auto;
}

.timelineInfoBox {
  border-left: 1px solid rgb(50, 85, 150);
  overflow: auto;
  min-width: 0;
}

.modalButton {
  display: none;
}

@media (max-width: 960px) {
  .timelineContainer {
    display: flex;
    flex-direction: column;
  }
  .timelineMain {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .timelineInfoBox {
    display: none;
  }
  .modalButton {
    position: fixed;
    display: block;
    font-size: 3rem;
    z-index: 1;
    background: none;
    border: none;
    right: 3%;
    color: rgb(50, 85, 150);
  }
  .modalButton:hover {
    color: #007bff;
  }
}
