.container {
  padding-top: 40px;
  width: 70%;
  margin: auto;
}

.textCountArea {
  display: flex;
  width: 80%;
  max-width: 500px;
  min-width: 250px;
  margin: 3px auto;
  justify-content: space-between;
  font-size: 0.85rem;
}

.errorMessage {
  color: #ff4d4f;
  font-weight: bold;
}

.countNumber {
  color: #666;
  margin-left: auto;
}
.nextButtonContainer {
  min-width: 250px;
  margin-top: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.nextButtonContainer button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .container {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .container {
    width: auto;
    margin: auto;
  }
}
@media (max-height: 700px) and (min-width: 601px) {
  .container {
    padding-top: 0px;
  }
}
