.searchPostLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.searchBarContainer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchPostContainer {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 6% 1fr 40%;
}

.searchPostAreaLeft {
  border-right: 1px solid rgb(50, 85, 150);
}

.searchPostAreaCenter {
  overflow-y: auto;
}

.searchPostAreaRight {
  border-left: 1px solid rgb(50, 85, 150);
  overflow: auto;
  min-height: 100%;
  font-size: 1.7rem;
}

.modalButton {
  display: none;
}

@media (max-width: 960px) {
  .searchPostContainer {
    display: flex;
    flex-direction: column;
  }
  .searchPostAreaCenter {
    flex: 1;
    order: 1;
    width: 100%;
    height: auto;
  }
  .searchPostAreaLeft {
    order: 2;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .searchPostAreaRight {
    display: none;
  }
  .modalButton {
    position: fixed;
    display: block;
    font-size: 3rem;
    z-index: 1;
    background: none;
    border: none;
    right: 3%;
    color: rgb(50, 85, 150);
  }
  .modalButton:hover {
    color: #007bff;
  }
  .searchBarContainer {
    min-height: 120px;
  }
}
