.postBoxLink {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.904);
  border-top: 1px solid rgb(50, 85, 150);
  border-bottom: 1px solid rgb(50, 85, 150);
  margin-top: -1px;
}

.postContainer {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.trashButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(50, 85, 150);
  font-size: 22px;
  z-index: 2;
  padding: 5px;
  transition: color 0.2s;
}
.trashButton:hover {
  color: #e57373;
}

.postHeader {
  display: flex;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  gap: 10px;
  align-items: center;
}

.postHeader:hover {
  color: #007bff;
}

.postBody {
  padding: 2px 0;
  margin-bottom: 10px;
  text-align: left;
  color: #1a1a1a;
  line-height: 1.6;
  padding-left: 5px;
  padding-right: 5px;
}

.userIcon {
  width: 5%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.postImgBox {
  width: auto;
  height: auto;
  margin: 5px;
  display: grid;
  gap: 3px;
}

.postImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.postFooter {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.postFooter button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: rgb(50, 85, 150);
}

.postFooter button:hover {
  color: #a5c9f0;
}

.goodCount,
.commentCount {
  font-size: 0.9em;
  color: #333;
  margin-right: 15px;
  width: 20px;
}

.modalImg {
  height: 100%;
  width: 100%;
  max-width: 80vh;
  max-height: 80vh;
}

.postImgBox[data-count="1"] {
  display: block;
  height: auto;
}

.postImgBox[data-count="1"] .postImg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  border-radius: 5%;
}

.postImgBox:not([data-count="1"]) .postImg {
  height: 100%;
  object-fit: cover;
}

.postImgBox[data-count="2"] {
  grid-template-columns: 1fr 1fr;
}

.postImgBox[data-count="3"] {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.postImgBox[data-count="3"] .postImg:nth-child(1) {
  grid-row: span 2;
}

.postImgBox[data-count="4"] {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 600px) {
  .postContainer {
    max-width: 100%;
  }
  .postHeader {
    font-size: 1.2rem;
  }
  .userIcon {
    width: 10%;
  }
  .postFooter button {
    padding: 5px;
    font-size: 1.2rem;
  }
  .goodCount,
  .commentCount {
    font-size: 0.8rem;
    width: 10px;
  }
}
