.main {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.main > h1 {
  width: 90%;
  max-width: 1200px;
  text-align: left;
}

.helpCategoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .helpCategoryContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
  }
}

@media (max-width: 600px) {
  .helpCategoryContainer {
    grid-template-columns: 1fr;
  }
}
