.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  padding: 0.4em 0.3em;
  border: none;
  border-radius: 8px;
  background-color: rgb(50, 85, 150);
  color: rgba(255, 255, 255, 0.904);
  font-weight: 750;
  font-size: 1.1em;
  transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button:active {
  border-color: rgb(50, 85, 150);
  border-width: 3px;
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
