.profileCard {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 1fr;
}

.profileCardLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.profileCardRight {
  display: flex;
  flex-direction: column;
  gap: 3%;
  justify-content: center;
}

.profileNameLink {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  text-decoration: none;

  width: fit-content;
  transition: opacity 0.2s ease;
}

.profileNameLink:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profileCardRight p {
  overflow-wrap: break-word;
}

.followWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.separator {
  color: #888;
  font-size: 0.9rem;
}

.editIcon {
  font-size: 1.6rem;
  color: #666;
}

.followLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s;
}

.followLink:hover {
  opacity: 0.6;
}

.profileIcon {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}
