.helpCategoryBox {
    width: 400px;
    height: 210px;
    
    border: 2px solid #007bff;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

    padding: 15px;
    position: relative;
    overflow: hidden;

    transition: transform 0.3s, box-shadow 0.3s;
}

.helpCategoryBox:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    cursor: pointer;
}

.helpCategoryBox h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;

    overflow-wrap: anywhere;
}

.helpCategoryBox p {
    font-size: 1em;
    padding-right: 60px;
    line-height: 2;
    color: #000000;
}

.helpCategoryBox img,
.helpCategoryBox .icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    opacity: 0.7;
}