.helpCategoryBox {
    width: 220px;
    
    border: 2px solid #007bff;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

    padding: 25px;
    position: relative;
    overflow: hidden;

    transition: transform 0.3s, box-shadow 0.3s;
}

.helpCategoryBox:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    cursor: pointer;
}

.helpCategoryBox h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 5px;
    color: #000000;
}

.helpCategoryBox p {
    font-size: 1.2em;
    padding-right: 60px;
    line-height: 1.4;
    color: #000000;
}

.helpCategoryBox img,
.helpCategoryBox .icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 90px;
    height: 90px;
    object-fit: contain;
    opacity: 0.7;
}