.contentsCard {
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 2px solid rgb(50, 85, 150);
  border-radius: 4px;
  width: 70%;
  /* アニメーション */
  --transition-duration: 0.4s;
}
.questionSummary {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  gap: 10px;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-duration) ease;
}

.answerContainer.open {
  max-height: 500px;
}
.answerContent {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 10px;
}
.answerContents span {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}

.toggleIcon {
  /* スタイル */
  margin-left: auto;
  font-size: 18px;
  user-select: none;

  /* アニメーション */
  transition: transform var(--transition-duration) ease;
}
.toggleIcon.open {
  transform: rotate(90deg);
}
