.contentsCard {
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 2px solid rgb(50, 85, 150);
  border-radius: 4px;
  width: 70%;
}
.questionSummary {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  gap: 10px;
}
.answerContent {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 10px;
}
.answerContent span {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
.toggleIcon {
  margin-left: auto;
  font-size: 18px;
  user-select: none;
}
