.headerContainer {
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(50, 85, 150);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  color: aliceblue;
  font-size: 4rem;
}
.supportContiner {
  all: unset;
  display: block;
  color: aliceblue;
  position: absolute;
  right: 50px;
  font-size: 1.5rem;
}
.helpLink {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
.inqueryLink {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 650px) {
  .headerContainer {
    all: unset;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(50, 85, 150);
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 60px;
  }
  .headerTitle {
    position: relative;
    left: 20px;
  }
  .supportContiner {
    font-size: 1rem;
  }
}
@media (max-width: 370px) {
  .supportContiner {
    display: none;
  }
}
