.headerContainer{
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(50, 85, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 60px;
}
.helpIcon{
    cursor:pointer;
    all: unset;
    position: fixed;
    right: 30px;
    font-size: 70px;
}

.helpIcon:focus-visible{
    outline:auto;
}