.explanationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.explanationTitle {
  font-size: clamp(18px, 2.5vw, 35px);
  margin-bottom: 15px;
  color: rgb(88, 77, 77);
  border-bottom: 3px dashed #2589d0;
}
.explanationText {
  font-family: sans-serif;
  font-size: clamp(14px, 1.8vw, 25px);
  padding-right: 15px;
  padding-left: 15px;
  color: rgba(62, 58, 58, 0.926);
  line-height: 1.4;
}
