.explanationContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explanationTitle {
  font-family: serif;
  font-size: 55px;
  margin-bottom: 15px;
  color: rgb(88, 77, 77);
  border-bottom: 3px dashed #2589d0;
}
.explanationText {
  font-family: sans-serif;
  font-size: 30px;
  color: rgba(62, 58, 58, 0.926);
}
